<div id="mce-responses" class="clear">
		<div class="response-chimp" id="mce-error-response" style="display:none"></div>
		<div class="response-chimp" id="mce-success-response" style="display:none"></div>
</div>

<header class="hero-header">

	<div class="main-hero-mobile-top overfh visible-xs visible-sm">

		<div class="hero-mobile-top" style="background-image:url({{data.index-content.image}});">
			<div class="tit-hero-mobile">

			</div>
		</div>
		<p class="text-right m-right pull-right c-g40 txt-s">{{{data.index-content.credits}}}</p>

		<div class="container-fluid">

			<div class="row">

				<div class="col-xs-12 m-l-bottom">
					{{{data.index-content.title}}}
				</div>

				<div class="col-sm-4 col-xs-12">
					<div class="h-m-content h-m-content-ea">
						<h3 class="c-contrast m-xs-bottom">Expanding <span class="displayb fbold">{{#labels}}{{access}}{{/labels}}</span></h3>
						<a class="displayb acontrast" href="{{host}}/our-work/?gl=expanding-access">{{#labels}}{{read_more}}{{/labels}}</a>
					</div>
				</div>

				<div class="col-sm-4 col-xs-12">
					<div class="h-m-content h-m-content-uv">
						<h3 class="c-contrast m-xs-bottom">Raising <span class="displayb fbold">{{#labels}}{{voices}}{{/labels}}</span></h3>
						<a class="h-rmore displayb acontrast" href="{{host}}/our-work/?gl=raising-voices">{{#labels}}{{read_more}}{{/labels}}</a>
					</div>
				</div>

				<div class="col-sm-4 col-xs-12">
					<div class="h-m-content h-m-content-ep">
						<h3 class="c-contrast m-xs-bottom">Enhancing <span class="displayb fbold">{{#labels}}{{participation}}{{/labels}}</span></h3>
						<a class="h-rmore displayb acontrast" href="{{host}}/our-work/?gl=enhancing-participation">{{#labels}}{{read_more}}{{/labels}}</a>
					</div>
				</div>

			</div>

		</div>

	</div>

	<div class="top-hero hidden-xs hidden-sm" style="background-image:url({{data.index-content.image}});">

		<div class="h-block h-claim c-contrast highlighted">
			{{{data.index-content.title}}}
		</div>

		<div class="h-block h-acc-direct c-contrast">
			<div class="h-block h-block-ac h-b-eaccess">
				<div class="h-acc-tit">
					<h3 class="displayb no-m-bottom"><a href="{{host}}/our-work/?gl=expanding-access" class="txt-mm acontrast"><span class="displayb fw-lh">{{#labels}}{{expanding}}{{/labels}}</span>{{#labels}}{{access}}{{/labels}}</a></h3>
					<a class="h-rmore displayb acontrast m-s-top" href="{{host}}/our-work/?gl=expanding-access">{{#labels}}{{read_more}}{{/labels}}</a>
				</div>
			</div>
			<div class="h-block h-block-ac h-b-uvoice">
				<div class="h-acc-tit">
					<h3 class="displayb no-m-bottom"><a href="{{host}}/our-work/?gl=raising-voices" class="txt-mm acontrast"><span class="displayb fw-lh">{{#labels}}{{raising}}{{/labels}}</span>{{#labels}}{{voices}}{{/labels}}</a></h3>
					<a class="h-rmore displayb acontrast m-s-top" href="{{host}}/our-work/?gl=raising-voices">{{#labels}}{{read_more}}{{/labels}}</a>
				</div>

			</div>
			<div class="h-block h-block-ac h-b-eparticipation">
				<div class="h-acc-tit">
					<h3 class="displayb no-m-bottom"><a href="{{host}}/our-work/?gl=enhancing-participation" class="txt-mm acontrast"><span class="displayb fw-lh">{{#labels}}{{enhancing}}{{/labels}}</span>{{#labels}}{{participation}}{{/labels}}</a></h3>
					<a class="h-rmore displayb acontrast m-s-top" href="{{host}}/our-work/?gl=enhancing-participation">{{#labels}}{{read_more}}{{/labels}}</a>
				</div>
			</div>
		</div>


		<div class="h-protect"></div>

	</div>
	<p class=" hidden-xs hidden-sm text-right m-right pull-right c-g40 txt-s">{{{data.index-content.credits}}}</p>
	<!-- end hero block-->

</header>

	<div class="about-wwwf-block">

		<div class="container">

			<div class="row">

				<div class="col-lg-5 col-md-6 col-sm-12">
					<h3 class="about-tit-simulate adj-tit-simulate hidden-xs hidden-sm">World Wide Web Foundation</h3>
				</div>


				<div class="col-lg-7 col-md-6 col-sm-12 f-merryw adj-text-about txt-l">

					<h3 class="txt-xxl visible-xs visible-sm f-opens"><span class="fw-lh">World Wide Web</span> <strong class="uppc">FOUNDATION</strong></h3>
					{{{data.index-content.content}}}
				</div>

			</div>

		</div>

	</div>
	<!-- end standard responsive block container - could be latest featured -->

	<div class="actions-about-wwwf overfh hidden-xs hidden-sm">

		<div class="carousel-about-foundation">

			<div class="">
				<div class="item item-img item-img-wwf1">
					{{#if labels.home_credits_1}}
					<p class="text-right txt-s img-credits background">{{{labels.home_credits_1}}}</p>
					{{/if}}
				</div>
			</div>

			<div class="item item-singup-box">
				<div class="content-action">
					<h4 class="c-contrast no-m-top txt-l fbold">{{#labels}}{{sign_up_text}}{{/labels}}</h4>

					<!-- Begin MailChimp Signup Form -->

					<div id="mc_embed_signup">
					<form action="//webfoundation.us8.list-manage.com/subscribe/post?u=b3c8e6e91fe1905e99f8b59fd&amp;id=8516b77d8a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					    <div id="mc_embed_signup_scroll">
					<div class="mc-field-group">
					    <input type="email" value="" name="EMAIL" class="required email w100 wf-input wf-input-signup c-contrast newsletter-input" id="mce-EMAIL" placeholder="{{#labels}}{{type_here}}{{/labels}}">
							<input type="submit" value="{{#labels}}{{sign_up}}{{/labels}}" name="subscribe" id="mc-embedded-subscribe" class="wf-btn wf-btn-success txt-c pos-btn-action newsletter-button">
					</div>
					    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					    <div style="position: absolute; left: -5000px;"><input type="text" name="b_b3c8e6e91fe1905e99f8b59fd_8516b77d8a" tabindex="-1" value=""></div>
					    </div>
					</form>
					</div>

					<!--End mc_embed_signup-->
				</div>

			</div>

			<div class="">
				<div class="item item-img item-img-wwf2">
					{{#if labels.home_credits_2}}
					<p class="text-right txt-s img-credits background">{{{labels.home_credits_2}}}</p>
					{{/if}}
				</div>
			</div>

			<div class="item item-donate-box">
				<div class="content-action">
					<h4 class="c-contrast no-m-top txt-l fbold">{{#labels}}{{how_support_us}}{{/labels}}</h4>
					<a href="{{host}}/take-action" target="_blank" class="wf-btn wf-btn-action txt-c pos-btn-action">{{#labels}}{{donate}}{{/labels}}</a>
				</div>
			</div>

			<div class="">
				<div class="item item-img item-img-wwf3">
					{{#if labels.home_credits_3}}
					<p class="text-right txt-s img-credits background">{{{labels.home_credits_3}}}</p>
					{{/if}}
				</div>
			</div>



		</div>

	</div>
	<!-- end standard responsive block container - could be latest featured -->


	<div class="actions-about-wwwf-mobile overfh hidden-md hidden-lg m-xl-top">

		<div class="container">

			<div class="row">

				<div class="col-sm-6 col-xs-12">

					<div class="item item-singup-box adj-signup-mobile">
						<div class="content-action">
							<h4 class="c-contrast no-m-top txt-xxl fbold">{{#labels}}{{sign_up_text}}{{/labels}}</h4>
							<input type="email" name="email" placeholder="Type here your email ..." class="w100 wf-input wf-input-signup c-contrast">
							<a href="" target="_blank" class="wf-btn wf-btn-success txt-c pos-btn-action">{{#labels}}{{sign_up}}{{/labels}}</a>
						</div>
					</div>

				</div>


				<div class="col-sm-6 col-xs-12">

					<div class="item item-donate-box">
						<div class="content-action">
							<h4 class="c-contrast no-m-top txt-xxl fbold">{{#labels}}{{how_support_us}}{{/labels}}</h4>
							<a href="" target="_blank" class="wf-btn wf-btn-action txt-c pos-btn-action">{{#labels}}{{donate}}{{/labels}}</a>
						</div>
					</div>

				</div>

			</div>

		</div>

	</div>



	<div class="featured-block-wwwf overfh p-xxl-top p-xxl-bottom">

		<div class="container">

			<div class="row">

				<div class="col-lg-12">

					<header>
						<h4 class="txt-xxl no-m-top"><!-- <span class="fw-lh">Latest</span> --><span class="fw-lh">{{#labels}}{{featured}}{{/labels}}</span></h4>
					</header>

						<div class="featured-block" style="background-image: url({{data.featured.image}})">
								<div class="featured-intro f-intro-typeA">

									<div class="f-intro-content">
										<h4 class="f-tit-big c-contrast">{{data.featured.title}}</h4>
										<span class="f-subtit c-contrast">{{data.featured.subtitle}}</span>
									</div>
									<a href="{{data.featured.url}}" class="wf-btn-100 wf-btn-featured txt-c">{{#labels}}{{read_more}}{{/labels}}</a>

								</div>

						</div>

				</div>

			</div>

		</div>

	</div>
	<!-- end standard responsive block container - could be latest featured -->

	<div class="news-home-block p-xxl-top p-xxl-bottom overfh bg-news-home-block">

		<div class="container">

			<div class="row">

				<div class="col-lg-8">

					<header>
						<h4 class="txt-xxl c-contrast no-m-top no-m-bottom"><!-- <span class="fw-lh">Latest</span> --><span class="fw-lh">{{#labels}}{{news}}{{/labels}}</span></h4>
						<a href="#" class="acontrast displayb m-s-bottom txt-s c-g20 uppc">{{#labels}}{{see_all}}{{/labels}}</a>
					</header>

					<div class="row">
						{{#data}}
						<div class="col-lg-6 col-md-6 col-sm-6">

							<article id="news-featured">
								{{#if news_and_blogs.0.image}}
								<figure class="news-img-fig">
									<img src="{{news_and_blogs.0.image}}" alt="{{news_and_blogs.0.title}}" class="img-responsive">
									<span class="news-arrow"></span>
								</figure>
								{{/if}}
								<div class="news-content m-s-top m-xl-bottom">
									<h4 class="no-m-top no-m-bottom fw-mlh txt-xxl"><a href="{{news_and_blogs.0.url}}" class="acontrast">{{{news_and_blogs.0.title}}}
									</a></h4>
									<span class="news-date c-contrast displayb m-xs-top txt-mm">{{news_and_blogs.0.date}} - <a href="{{news_and_blogs.0.author.url}}" class="acontrast"><strong class="news-author">{{news_and_blogs.0.author.name}}</strong></a></span>
								</div>
							</article>

							<article id="news-featured">
								{{#if news_and_blogs.1.image}}
								<figure class="news-img-fig">
									<img src="{{news_and_blogs.1.image}}" alt="{{news_and_blogs.1.title}}" class="img-responsive">
									<span class="news-arrow"></span>
								</figure>
								{{/if}}
								<div class="news-content m-s-top m-xl-bottom">
									<h4 class="no-m-top no-m-bottom fw-mlh txt-xxl"><a href="{{news_and_blogs.1.url}}" class="acontrast">{{{news_and_blogs.1.title}}}
									</a></h4>
									<span class="news-date c-contrast displayb m-xs-top txt-mm">{{news_and_blogs.1.date}} - <a href="{{news_and_blogs.1.author.url}}" class="acontrast"><strong class="news-author">{{news_and_blogs.1.author.name}}</strong></a></span>
								</div>
							</article>

						</div>


						<div class="col-lg-6 col-md-6 col-sm-6">

							<article id="news-featured">
								{{#if news_and_blogs.2.image}}
								<figure class="news-img-fig">
									<img src="{{news_and_blogs.2.image}}" alt="{{news_and_blogs.2.title}}" class="img-responsive">
									<span class="news-arrow"></span>
								</figure>
								{{/if}}
								<div class="news-content m-s-top m-xl-bottom">
									<h4 class="no-m-top no-m-bottom fw-mlh txt-xxl"><a href="{{news_and_blogs.2.url}}" class="acontrast">{{{news_and_blogs.2.title}}}
									</a></h4>
									<span class="news-date c-contrast displayb m-xs-top txt-mm">{{news_and_blogs.2.date}} - <a href="{{news_and_blogs.2.author.url}}" class="acontrast"><strong class="news-author">{{news_and_blogs.2.author.name}}</strong></a></span>
								</div>
							</article>

							<article id="news-featured">
								{{#if news_and_blogs.3.image}}
								<figure class="news-img-fig">
									<img src="{{news_and_blogs.3.image}}" alt="{{news_and_blogs.3.title}}" class="img-responsive">
									<span class="news-arrow"></span>
								</figure>
								{{/if}}
								<div class="news-content m-s-top m-xl-bottom">
									<h4 class="no-m-top no-m-bottom fw-mlh txt-xxl"><a href="{{news_and_blogs.3.url}}" class="acontrast">{{{news_and_blogs.3.title}}}
									</a></h4>
									<span class="news-date c-contrast displayb m-xs-top txt-mm">{{news_and_blogs.3.date}} - <a href="{{news_and_blogs.3.author.url}}" class="acontrast"><strong class="news-author">{{news_and_blogs.3.author.name}}</strong></a></span>
								</div>
							</article>

						</div>
					{{/data}}
					</div>

				</div><!--end row 8 -->
				<!--end news section-->



				<div class="col-lg-4">

					<div class="row">
						<div class="col-lg-12">
							<header>
								<h4 class="txt-xxl c-contrast no-m-top no-m-bottom "><!-- <span class="fw-lh">Latest</span> --><span class="fw-lh">{{#labels}}{{research_breadcrumb}}{{/labels}}</span></h4>
								<a href="#" class="acontrast displayb m-s-bottom txt-s c-g20 uppc">{{#labels}}{{see_all}}{{/labels}}</a>
							</header>
						</div>
					</div>

					<div class="row">

						<div class="col-lg-12">
							{{#data}}
								<article class="research-featured m-xl-bottom">
									<h4 class="no-m-top no-m-bottom fw-mlh txt-xl"><a href="{{research.0.url}}" class="acontrast">{{research.0.title}}</a></h4>
									<span class="news-date c-contrast displayb m-xs-top txt-mm">{{research.0.date}}</span>
								</article>

								<article class="research-featured m-xl-bottom">
									<h4 class="no-m-top no-m-bottom fw-mlh txt-xl"><a href="{{research.1.url}}" class="acontrast">{{research.1.title}}</a></h4>
									<span class="news-date c-contrast displayb m-xs-top txt-mm">{{research.1.date}}</span>
								</article>

								<article class="research-featured m-xl-bottom">
									<h4 class="no-m-top no-m-bottom fw-mlh txt-xl"><a href="{{research.2.url}}" class="acontrast">{{research.2.title}}</a></h4>
									<span class="news-date c-contrast displayb m-xs-top txt-mm">{{research.2.date}}</span>
								</article>
							{{/data}}
						</div>


					</div>

				</div><!--end row 4-->
				<!--end research section-->


			</div><!--end main row-->

		</div><!--end container-->

	</div><!--end news block-->






	<div class="tweets-home-block overfh p-xxl-top p-xxl-bottom b-bottom">

		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<header>
						<h4 class="txt-xxl no-m-top"><span class="fw-lh">{{#labels}}{{latest}}{{/labels}} </span><span class="fw-lh">{{#labels}}{{tweets}}{{/labels}}</span></h4>
					</header>
				</div>
			</div>


			<div class="row">

				{{#data}}
					{{#tweets}}
						<div class="col-lg-4">

							<div class="tweet-content">
								<h5 class="displayb txt-c no-m-bottom c-contrast fbold">
									{{#account}}
										<a href="http://twitter.com/{{displayName}}" class="acontrast">
											{{name}}
										</a>
									{{/account}}
								</h5>
								<span class="tweet-date displayb txt-c c-contrast m-xs-bottom txt-s">{{date}}</span>
								<p class="f-merryw txt-mm c-contrast txt-c">{{{content}}}</p>
							</div>
							<div class="tweet-mention">
								{{#account}}
									<a href="http://twitter.com/{{displayName}}" class="tweet-a-mention">
										@{{displayName}}
									</a>
								{{/account}}
							</div>

						</div>
					{{/tweets}}
				{{/data}}

			</div>

		</div>

	</div>
	<!--end tweets section-->

	<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
