	<!-- INTRO BLOCK -->
	<div class="main-intro-section mintro-section-c-green txt-c overfh m-xl-bottom">
		<div class="intro-section displayb c-obj c-contrast overfh p-xxl-top p-xxl-bottom">
			<h3 class="no-m-top m-xs-bottom fbold">{{data.web.content.title}}</h3>
			<h4 class="m-s-bottom m-xs-top">{{#labels}}{{the_web}}{{/labels}}</h4>
			<div class="c-s-separator-intro c-obj"></div>
		</div>
	</div>

	<!-- SUBNAVS -->
	<div class="global-content clearb overfh">

		<div class="sunav-left hidden-sm hidden-xs">

			<div class="c-subnav">

				{{{navigation-the-web}}}

			</div><!--end c-subnav-->

		</div>

		{{>social}}

		<!--CONTENT BLOCK-->
		<div class="container-max-height">

		<div class="container-fluid pos-content p-xxl-bottom main-content-st">


			<div class="row m-l-bottom">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<nav>
						<ul class="n-breadscrumb">
							<li class="item-bs displayb"><a href="{{host}}" class="item-a-bs avisibility">{{#labels}}{{home}}{{/labels}}</a></li>
							<li class="item-bs displayb"><a href="{{host}}/the-web" class="item-a-bs">{{#labels}}{{the_web_breadcrumb}}{{/labels}}</a></li>
							<li class="item-bs displayb"><span class="item-a-bs item-a-bs-active">{{data.web.content.title}}</span></li>
						</ul>
					</nav>
				</div>
			</div>
			<!--end Breadcrumb-->


			<div class="row">

				<div class="col-lg-12 col-md-12 col-sm-12 f-merryw no-p-lat-mob">


					{{#if data.web.content.image}}
					<div class="intro-secc-img-big m-s-bottom" style="background-image:url({{data.web.content.image}});">
						<div class="intro-sec-img-content hidden-xs">
							<p class="c-contrast no-m-bottom txt-xl highlighted">{{{data.web.content.highlighted}}}</p>
						</div>
						<div class="intro-secc-img-protector hidden-xs"></div>
					</div>
					<p class="text-right m-right c-g40 txt-s">{{{data.web.content.credits}}}</p>
					{{else}}
						{{#if data.web.content.highlighted}}
						<p class="no-m-bottom txt-xl p-xl-bottom">{{{data.web.content.highlighted}}}</p>
						{{/if}}
					{{/if}}

					<div class="adj-content-mobile post-container">
						{{{data.web.content.content}}}
					</div><!--end adj-content-mobile-->

				</div>

			</div>

		</div>
		<!--end container block-->

		</div>


	</div><!--end global content-->
